# Golang internal files
vendor

# Environment-specific configuration files (if not managed by other means)
*.env
.env.*
.deploy_config
keys

# Build cache and module cache
.go/
.cache/
deploy.tar.gz

# Editor/IDE specific files
build
*.swp
*~
.DS_Store


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
