# Backend
PORT=8080
IDLE_TIMEOUT=60
MAX_FILE_SIZE=100

# Database
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432

#Docker
DOCKER_IMAGE_NAME=project_sem_1_backend