# Backend
PORT=8080
IDLE_TIMEOUT=60
MAX_FILE_SIZE=100
TEMP_FILE_DIR=temp
DATA_FILE_NAME=data
BATCH_SIZE=500

# Database
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOST=db
DB_PORT=5432

#Docker
DOCKER_IMAGE_NAME=project_sem_1_backend

#Deploy
VM_IP
SSH_USER
SSH_KEY_PRIVATE
REMOTE_DIR
YC_FOLDER_ID
VM_NAME
NETWORK_NAME
SUBNET_NAME
YC_ZONE
SUBNET_CIDR
USE_PREEMPTIBLE
PLATFORM_ID
VM_CORES
VM_MEMORY
CORE_FRACTION
VM_DISK_SIZE
VM_IMAGE
SSH_KEY_PUB