# Backend
PORT=8080
IDLE_TIMEOUT=60
MAX_FILE_SIZE=100
TEMP_FILE_DIR=temp
DATA_FILE_NAME=data
BATCH_SIZE=500

# Database
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Docker
DOCKER_IMAGE_NAME=project_sem_1_backend

# Deploy (Yandex Cloud)
VM_IP=                           # VM public IP address
SSH_USER=ubuntu                  # SSH username for VM
SSH_KEY_PRIVATE=/path/to/key     # Path to private SSH key
REMOTE_DIR=/home/ubuntu/app      # Remote directory for deployment
YC_FOLDER_ID=                    # Yandex Cloud folder ID
VM_NAME=                         # VM instance name
NETWORK_NAME=                    # Network name in Yandex Cloud
SUBNET_NAME=                     # Subnet name in Yandex Cloud
YC_ZONE=ru-central1-a            # Availability zone
SUBNET_CIDR=192.168.10.0/24      # Subnet CIDR
USE_PREEMPTIBLE=false            # Use preemptible VM (true/false)
PLATFORM_ID=standard-v1          # Platform ID for VM
VM_CORES=2                       # Number of CPU cores
VM_MEMORY=4                      # RAM in GB
CORE_FRACTION=100                # CPU core fraction (5,20,100)
VM_DISK_SIZE=20                  # Disk size in GB
VM_IMAGE=                        # VM image ID
SSH_KEY_PUB=/path/to/key.pub     # Path to public SSH key